* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    overflow: hidden
}

.particles-js-canvas-el {
    width: 100vw !important;
    height: 100vh !important;
}

.game {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#grid-container {
    width: 100%;
    height: 100%;
    z-index: 2;
    /* background-color: white; */
    display: none;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 4px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.grid-item:last-of-type {
    color: rgb(157, 157, 157);
    background-color: white;
    font-weight: 100 !important;
    font-size: 2.5em;
}

.grid-item:hover {
    cursor: pointer;
}

#window-topbar,
#window-fullscreen {
    margin: 0 auto;
    color: rgb(113, 113, 113);
    width: 40%;
    height: 20px;
    text-align: center;
    background-color: white;
    margin-bottom: 8px;
    border-radius: 10px;
}



#window-topbar:hover {
    cursor: pointer;
}

#window-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw !important;
    max-width: 600px;
    z-index: 1;
    position: fixed;
    top: 4px;
    right: 4px;
    width: 600px;
    aspect-ratio: 2;
    user-select: none;
}

img {
    /* object-fit: fill; */
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

h1 {
    user-select: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 130px;
    z-index: 0;
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
}