* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    overflow: hidden
}

.particles-js-canvas-el {
    width: 100vw !important;
    height: 100vh !important;
}

.game {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#grid-container {
    z-index: 2;
    /* background-color: white; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 4px;

    /* width: 100vw !important; */
    max-width: 600px;
    position: fixed;
    top: 30px;
    right: 4px;
    width: 600px;
    aspect-ratio: 2;
    user-select: none;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.grid-item:last-of-type {
    color: rgb(157, 157, 157);
    background-color: white;
    font-weight: 100 !important;
    font-size: 2.5em;
}

.grid-item:hover {
    cursor: pointer;
}

#window-topbar,
#window-fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50%;
    height: 30px;
    margin-bottom: 8px;
    background-color: white;
    color: rgb(113, 113, 113);
    user-select: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.254);
}

#window-fullscreen {
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.108);
}



#window-topbar:hover,
#window-fullscreen:hover {
    user-select: none;
    cursor: pointer;
}

.grid-item img {
    /* object-fit: fill; */
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#text {
    user-select: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
}

#text h1 {
    text-align: center;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
}

#text p {
    font-size: 30px;
    font-weight: 100;
}

#ui {
    visibility: visible;
}

#scores {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    user-select: none;
    padding: 0;
    margin: 0;
    color: white;
    z-index: 0;
    position: fixed;
    top: 18vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
}

#score {
    text-align: center;
    width: 100%;
    font-size: 130px;
    font-weight: 100;
}

#highscore {
    font-weight: 100;

    display: flex;
    align-items: center;
}

#highscore p {
    text-align: center;
    width: 100%;
    font-size: 50px;
}

#highscore img {
    width: 4rem;
    height: 4rem;
    margin-right: 5px;
}